@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>
<br>To add a new project click the "Get Started" tab.  
<br>Then choose "Add New Project".  
<br>On the Project page give your project a unique name and select the date for the project.

<p>  
<br>You should be redirected to the Wall page.
<br>Enter the Height of the wall.
<br>Enter the Length of the wall.
<br>If you have multiple walls that are the same height you can add them as a single wall.  
<br>If you prefer you can add each wall separatly.
<br>Make sure the correct project name is selected for each wall you enter.

<p>
<br>If you accidentaly enter the wrong Height, Length, or Project name you can always correct it later.
<br>To change Wall information after you have entered it, click "Get Started", then click "List of Walls."  
<br>On the right side of the Wall you want to change, click "edit."
<br>Make your changes and Save them.

<p>
<br>Once you have entered all the walls for your project, you can view the material "shopping" list and the estimated cost for eeach item.
<br>Simply click "View List of Walls."
