@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->

    <p>BuilderBuddy is designed with you in mind.  </p>
    <p>We will provide you with detailed estimates for all your drywall projects, right down to the number of screws you will need.</p>
    <p>Now estimating project costs can be done quickly and accurately.</p>
    <p>This saves time for you and your clients.  It also ensures you don't underestimate a project.</p>
    <p>You can add and save new projects AND you can view and edit all your old projects.</p>
    <p>We hope you love BuilderBuddy as much as we do.</p>
</div>
